@media (max-width: 1000px) {
    .games{
        grid-template-columns: repeat(2, 365px);
        margin-bottom: 60px;
    }
    .notfound{
        grid-column: 1/span 2;
        height: 30vh;
    }
}
@media (max-width: 800px) {
    .games{
        grid-template-columns: 365px;
        margin-bottom: 60px;
    }
    #search {
        width: 340px;
    }
}
@media (max-width: 400px) {
    #search {
        width: 260px;
    }
    .btn-search {
        width: 40px;
    }
    .game{
        padding: 0px 0px 40px 0px;
    }
    .game h2{
        font-size: 1.4rem;
    }
    .game p{
        font-size: 1rem;
        padding: 0px 30px;
    }
    .game img{
        width: 100%;
    }
    .info {
        font-size: .8rem;
        padding-left: 30px;
        margin-bottom: 30px;
    }
    .header h1{
        font-size: 2.5rem;
    }
    .header p{
        font-size: .8rem;
    }
}