.games{
    display: grid;
    grid-template-columns: repeat(3, 365px);
    align-items: center;
    justify-content: center;
    gap: 20px;
    align-items: start;
    margin-bottom: 40px;
    position: relative;
}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    background-color: var(--cardcolor);
    padding: 0px 10px 40px 10px;
    border-radius: 6px;
    word-break: break-all;
}

.gamecenter {
    grid-column: 2;
}

.game li{
    padding-bottom: 10px;
}

.game h2{
    font-size: 1.5rem;
    margin: 20px;
}

.game h2.limitado{
    max-width: 36ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.game p{
    font-size: 1rem;
    margin-bottom: 40px;
}

.game p.limitado{
    max-width: 36ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.info {
    align-self: flex-start;
    text-align: start;
    font-size: .9rem;
    margin-bottom: 20px;
}

.btn-game {
    border: none;
    border-radius: 6px;
    background-color: var(--maincolor);
    padding: 8px 10px;
    color: var(--textcolor);
    box-shadow: 1px 1px 4px 0px var(--maincolor);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

footer{
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px 0px;
    background-color: var(--footercolor);
}

footer a{
    text-decoration: underline;
    font-weight: bold;
}

footer a:hover{
    color: #1dff30;
    transition: .5s ease-out;
}